header{
    display: flex;
    align-content: space-between;
    background: black;
    color: white;
    align-items: center;
}

.logo{
    width: 70px;
    height: 70px;
    padding: 0.3rem;
    background: orange;
    margin: 0.5rem;
}

header .social{
    display: flex;
    flex-direction: column;
    width: 10%;
    justify-content: center;

}

header .social img{
    width: 15px;
    height: 15px;
    margin: 0.2rem;
    background: red;
    padding: 0.3rem;
}